[Desktop Entry]
Version=1.0
Type=Application
Name=Large Terminal
Comment=
Exec=scripts/term/terminal-large.sh ~/scripts/term/tmux.sh
Icon=/usr/share/icons/Adwaita/24x24/devices/computer.png
Path=
Terminal=false
StartupNotify=false
